.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.border{
    border: 2px solid red;
    margin: 5px;
}
.flex{
    display: flex;
}
.align-item{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;;
}
.p-1{
    padding: 10px;
}
