*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    }

.cardContainer{    
    margin: 10px;
    height: 120px;
    display: flex;
    align-items: center;
}

.imageCard{
    position: relative;
    display: flex;
    align-items: center;
}
.cardContainer img{
    height: 110px;
    margin-left: 10px;
    border-radius: 7px;
}
.details{
    margin: 0 15px;
    height: 100%;
    padding-top: 5px;
}
.videoTitle{
    font-weight: 600;
}
.slag{
    padding-top: 5px;
    color: grey;
}
.videoLength{
    background-color: black;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 1px 5px 3px 5px;
    border-radius: 5px;
    font-size: 14px;
}